@using System.Collections.Generic
@model System.Collections.Generic.List<ShoppingList.Models.Recipe>

@{
    ViewData["Title"] = "View Recipes";
}



<script type="text/javascript">

    function ConfirmDelete(recipeName) {

        var result = confirm("Really delete recipe?");
        if (result) {
            var postUrl = "@Url.Action("Delete", "Recipes")/" + recipeName;
            $.post(postUrl, function(data) {
                window.location.href = "@Url.Action("ViewRecipes", "Recipes")";
            });
        }
    }

</script>


<h2>
    <span class="label label-default">Recipes</span>
</h2>



<div class="list-group" id="recipes">
    <a class="list-group-item" asp-controller="Recipes" asp-action="CreateRecipe">
        <h3 class="list-group-item-heading">New...</h3>
    </a>            

    @foreach (var item in Model)
    {
        <div class="list-group-item">
            @item.Name
            <a onclick="ConfirmDelete('@item.Name')" href="#">
                <span class="glyphicon glyphicon-remove" style="float: right; color: red; margin-left: 10px"></span>
            </a>
            <a asp-action="Edit" asp-route-id="@item.Name">
                <span class="glyphicon glyphicon-pencil" style="float: right"></span>
            </a>
        </div>
    }
</div>
