@model List<ShoppingList.Models.Store>
@using Newtonsoft.Json
@{
    ViewData["Title"] = "View Stores";
}

<script type="text/javascript">

    function CreateStore() {
        var textField = document.getElementById('NewStoreField');
        var storeName = textField.value;
        textField.value = null;
        if (storeName == null || storeName == "")
            return;

        storeName = storeName.toLowerCase();
        var existingField = document.getElementById(storeName);
        if (existingField != null)
            return;

        var parameters = "storeName=" + storeName;
        var postUrl = "@Url.Action("AddStore", "Stores")?" + parameters;
        $.post(postUrl, function(data) {
            window.location.href = "@Url.Action("ViewStores", "Stores")";
        });
    }

    function ConfirmDelete(id) {

        var result = confirm("Really delete store?");
        if (result) {
            var postUrl = "@Url.Action("Delete", "Stores")/" + id;
            $.post(postUrl, function(data) {
                window.location.href = "@Url.Action("ViewStores", "Stores")";
            });            
        }
    }

</script>


<h2>
    <span class="label label-default">Stores</span>
</h2>

<div class="container">
    <div class='col-xs-12'>
        <h3>New Store</h3>
        <div class="input-group">
            <input id="NewStoreField" type="text" class="form-control" placeholder="walmart..."
                   onkeydown="if (event.keyCode == 13) CreateStore();" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="CreateStore()">Add</button>
            </span>
        </div>

        <h3>Stores</h3>
        <div class="list-group" id="stores">
            @foreach (var item in Model) {
                <div class="list-group-item">
                    @item.Name
                    <a onclick="ConfirmDelete('@item.ID')" href="#" >
                        <span class="glyphicon glyphicon-remove" style="float: right; color: red; margin-left: 10px"></span>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.ID" >
                        <span class="glyphicon glyphicon-pencil" style="float: right"></span>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
