@model ShoppingList.ViewModels.EditShoppingListViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Edit Shopping List";
}


<script type="text/javascript">

    var selectedItems = @Html.Raw(JsonConvert.SerializeObject(this.Model.SelectedItems.ToArray()));
    var previousItems = @Html.Raw(JsonConvert.SerializeObject(this.Model.PreviousItems.ToArray()));
    var allItems = @Html.Raw(JsonConvert.SerializeObject(this.Model.AllItems.ToArray()));
    var allStores = @Html.Raw(JsonConvert.SerializeObject(this.Model.AllStores.ToArray()));

    function Click(itemName) {
        var selectedGroup = document.getElementById('selectedGroup');
        var availableGroup = document.getElementById('availableGroup');
        var item = document.getElementById(itemName);

        if (selectedGroup.contains(item)) {
            // unselect
            availableGroup.appendChild(item);
            var index = selectedItems.indexOf(itemName);
            if (index >= 0) {
                selectedItems.splice(index, 1);
            }
        } else if (availableGroup.contains(item)) {
            // select
            selectedItems.push(itemName);
            selectedGroup.appendChild(item);
        }
    }

    function SaveAndViewLists() {
        var destination = "@Url.Action("ViewShoppingLists", "ShoppingList")";
        Save(destination);
    }

    function SaveAndGoShopping() {
        var destination = "@Url.Action("GoShopping", "ShoppingList")?id=" + "@Model.ShopplingListId.ToString()";
        Save(destination);
    }


    function Save(destination) {
        var store = document.getElementById("StoreSelection").value;
        if (store == null || store == "") {
            var warning = document.getElementById("SelectStoreWarning");
            warning.textContent = "Select a store";
            return;
        }

        var parameters = "shoppingListId=" + "@Model.ShopplingListId.ToString()" + "&storeName=" + store + "&itemsToBuyJoined="  + selectedItems.join("§");
        var postUrl = "@Url.Action("SaveShoppingList", "ShoppingList")?" + parameters;
        $.post(postUrl, function(data) {
            window.location.href = destination;
        });
    }


    function CreateItem() {
        var textField = document.getElementById('NewItemField');
        var itemName = textField.value;
        textField.value = null;
        if (itemName == null || itemName == "")
            return;

        itemName = itemName.toLowerCase();

        var existingField = document.getElementById(itemName);
        if (existingField != null) {
            Click(itemName);
            return;
        }

        // create new element
        @*Template: <a id="@item" onclick="Click('@item'); return false;" href="#" class="list-group-item">@item</a>*@
        var element = document.createElement('a');
        element.textContent = itemName;
        element.setAttribute('class', 'list-group-item');
        element.setAttribute('onclick', 'Click("' + itemName + '"); return false;');
        element.setAttribute('href', '#');
        element.setAttribute('id', itemName);

        selectedItems.push(itemName);
        var selectedGroup = document.getElementById('selectedGroup');
        selectedGroup.appendChild(element);
    }

    function SelectType(typeName) {
        document.getElementById('StoreSelection').value = typeName;
    }


    var itemSearchEngine = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: allItems
    });


    var storeSearchEngine = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: allStores
    });


    $(document).ready(function() {

        // jQuery methods go here...
        $('#NewItemField').typeahead({
            hint: false,
            highlight: true,
            minLength: 1
        }, {
            name: 'newItems',
            source: itemSearchEngine
        });


        $('#StoreSelection').typeahead({
            hint: false,
            highlight: true,
            minLength: 1
        }, {
            name: 'newStores',
            source: storeSearchEngine
        });

    });


</script>



<h2><span class="label label-default">Edit List</span></h2>

<div>
    <button type="button" class="btn btn-success" onclick="SaveAndViewLists()">Save</button>
    <button type="button" class="btn btn-default" onclick="SaveAndGoShopping()">Go</button>
    <a asp-controller="ShoppingList" asp-action="ViewShoppingLists" class="btn btn-danger">Cancel</a>
</div>

<div class="container">
    <div class="row">
        <div class='col-xs-6'>
            <h3>Type</h3>
            <span id="SelectStoreWarning" class="label label-danger"></span>
            
            <div class="input-group">
                <input type="text" class="form-control" id="StoreSelection" value="@Model.SelectedStore">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul id="color-dropdown-menu" class="dropdown-menu dropdown-menu-right" role="menu">
                        @foreach (var store in Model.PreviousStores) {
                            <li style="float:right;" onclick="SelectType('@store'); return false;"><a href="#" >@store</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class='col-xs-6'>
            <h3>Add Item</h3>
            <div class="input-group">
                <input id="NewItemField" type="text" class="form-control" placeholder="chocolate..."
                       onkeydown="if (event.keyCode == 13) CreateItem();"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="CreateItem()">Add</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Previous items -->
        <div class="col-xs-6">
            <div class="list-group" id="availableGroup">
                <H3>Previous</H3>
                @foreach (var item in Model.PreviousItems) {
                    <a id="@item" onclick="Click('@item'); return false;" href="#" class="list-group-item">@item</a>
                }
            </div>
        </div>

        <!-- To do -->
        <div class="col-xs-6">
            <div class="list-group" id="selectedGroup">
                <H3>To Do</H3>
                @foreach (var item in Model.SelectedItems) {
                    <a id="@item" onclick="Click('@item'); return false;" href="#" class="list-group-item">@item</a>
                }                
            </div>
        </div>
    </div>

</div>



