@model ShoppingList.ViewModels.EditShoppingListViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Edit Shopping List";
}


<script type="text/javascript">

    var selectedItems = @Html.Raw(JsonConvert.SerializeObject(this.Model.SelectedItems.ToArray()));

    function Click(itemName) {
        var selectedGroup = document.getElementById('selectedGroup');
        var availableGroup = document.getElementById('availableGroup');
        var item = document.getElementById(itemName);

        if (selectedGroup.contains(item)) {
            // unselect
            availableGroup.appendChild(item);
            var index = selectedItems.indexOf(itemName);
            if (index >= 0) {
                selectedItems.splice(index, 1);
            }
        } else if (availableGroup.contains(item)) {
            // select
            selectedItems.push(itemName);
            selectedGroup.appendChild(item);
        }
    }


    function Save() {
        var parameters = "shoppingListId=" + "@Model.ShopplingListId.ToString()" + "&storeId=" + "@Model.SelectedStore.ID" + "&itemsToBuyJoined="  + selectedItems.join("§");
        var postUrl = "@Url.Action("SaveShoppingList", "ShoppingList")?" + parameters;
        $.post(postUrl, function(data) {
            window.location.href = "@Url.Action("ViewShoppingLists", "ShoppingList")";
        });
    }
</script>



<h2>
    <span class="label label-default">Edit Shopping List</span>
    <button type="button" class="btn btn-success" onclick="Save()">Save</button>
    <a asp-controller="ShoppingList" asp-action="ViewShoppingLists" class="btn btn-danger">Cancel</a>
</h2>

<div class="container">
    <div class="row">
        <div class='col-xs-6'>
            <h3>Store</h3>
            <select class="form-control">
                @foreach (var store in Model.AvailableStores) {
                    <option>@store.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="row">

        <!-- Available items -->
        <div class="col-xs-6">
            <div class="list-group" id="availableGroup">
                <H3>Items</H3>
                @foreach (var item in Model.AvailableItems)
                {
                    <a id="@item" onclick="Click('@item')" href="#" class="list-group-item">@item</a>
                }
            </div>
        </div>

        <!-- To buy -->
        <div class="col-xs-6">
            <div class="list-group" id="selectedGroup">
                <H3>To buy</H3>
                @foreach (var item in Model.SelectedItems)
                {
                    <a id="@item" onclick="Click('@item')" href="#" class="list-group-item">@item</a>
                }
            </div>
        </div>
    </div>

</div>



