@model ShoppingList.Models.ShoppingList
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Go Shopping";
}

<script type="text/javascript">

    var checkedItems = @Html.Raw(JsonConvert.SerializeObject(this.Model.BoughtItems.Select(item => item.Name).ToArray()));

    function ItemChecked(item, ischecked) {
        if (ischecked) {
            checkedItems.push(item);
        } else {
            var index = checkedItems.indexOf(item);
            if (index >= 0) {
                checkedItems.splice(index, 1);
            }
        }
    }

    function Save() {
        var parameters = "shoppingListId=@Model.ID" + "&boughtItemsJoined=" + checkedItems.join("§");
        var postUrl = "@Url.Action("BuyItems", "ShoppingList")?" + parameters;
        $.post(postUrl, function(data) {
            window.location.href = '@Url.Action("ViewShoppingLists", "ShoppingList")';
        });
    }
</script>



<h2>
    <span class="label label-default">@Html.DisplayFor(modelItem => Model.Description)</span>
    <button type="button" class="btn btn-success" onclick="Save()">Save</button>
    <a asp-controller="ShoppingList" asp-action="ViewShoppingLists" class="btn btn-danger">Cancel</a>
</h2>






@foreach (var item in Model.Items) {
    <div class="checkbox checkbox-success">
        <input id="@item.Name" onchange="ItemChecked('@item.Name', checked)" class="styled" type="checkbox" checked="@item.IsBought">
        <label for="@item.Name">
            @Html.DisplayFor(modelItem => item.Name)
        </label>
    </div>
}




