@model ShoppingList.Models.ShoppingList
@using System.Linq
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Go Shopping";
}

<script type="text/javascript">

    document.body.style.backgroundColor = "#DEFFD6";

    function Click(item) {
        var element = document.getElementById(item);
        var boughtGroup = document.getElementById("BoughtGroup");

        if (boughtGroup.contains(element)) {

            // Unbuy
            var toBuyGroup = document.getElementById("ToBuyGroup");
            toBuyGroup.appendChild(element);
            element.querySelector("#checkmark").style = "color: green; display:none";

            var parameters = "shoppingListId=@Model.ID" + "&itemName=" + item;
            var postUrl = "@Url.Action("UnBuy", "ShoppingList")?" + parameters;
            $.post(postUrl);


        } else {
            // Buy
            boughtGroup.appendChild(element);
            element.querySelector("#checkmark").style = "color: green; display:inline";

            var parameters = "shoppingListId=@Model.ID" + "&itemName=" + item;
            var postUrl = "@Url.Action("Buy", "ShoppingList")?" + parameters;
            $.post(postUrl);
        }
    }


</script>



<h2>
    <span class="label label-default">@Model.Description</span>
</h2>


<div class="container">
    <div>
        <a asp-controller="ShoppingList" asp-action="EditShoppingList" asp-route-id="@Model.ID" class="btn btn-default">Edit</a>
        <button type="button" class="btn btn-default" onclick="window.location.reload(true);">Refresh</button>
    </div>
    <div class='col-xs-12'>
        <div class="row">
            <!-- To buy -->
            <div class="list-group" id="ToBuyGroup">
                <H3>To Buy</H3>
                @foreach (var item in Model.ItemsToBuy)
                {
                    <a id="@item.Name" onclick="Click('@item.Name'); return false;" href="#" class="list-group-item">
                        <span id="checkmark" class="glyphicon glyphicon-ok" style="color: green; display: none"></span>
                        @item.Name
                    </a>
                }
            </div>


            <!-- Bought -->
            <div class="list-group" id="BoughtGroup">
                <H3>Bought</H3>
                @foreach (var item in Model.BoughtItems)
                {
                    <a id="@item.Name" onclick="Click('@item.Name'); return false;" href="#" class="list-group-item">
                        <span id="checkmark" class="glyphicon glyphicon-ok" style="color: green; display: inline"></span>
                        @item.Name
                    </a>
                }
            </div>
        </div>
    </div>
</div>


