@model List<ShoppingList.Models.ShoppingList>
@{
    ViewData["Title"] = "View Shopping Lists";
}


<h2>
    <span class="label label-default">Lists</span>
</h2>

<style>
    div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="list-group">
    <a class="list-group-item" asp-controller="ShoppingList" asp-action="CreateShoppingList">
        <h3 class="list-group-item-heading">New...</h3>
    </a>

@foreach (var list in Model) {
    <a class="list-group-item" asp-controller="ShoppingList" asp-action="GoShopping" asp-route-id="@list.ID">
        @if (list.IsComplete) {
            <span class="glyphicon glyphicon-ok" style="color:lightgray" aria-hidden="true"></span>
            <span style="color:lightgray;">@list.Description <span class="badge pull-right">@list.AllItems.Count()</span></span>
        }
        else {
            <span class="badge">@list.AllItems.Count()</span>
            <h3 class="list-group-item-heading">@list.Description</h3>
            <div style="font-size: 70%" class="list-group-item-text">@list.Text</div>
        }
    </a>
}

</div>

